Repository planetarium/lib9c, pull requests merged in 2024-12, with the labels that each got.

#3059 Fix hammer validation
  .Lib9c.Tests/Action/ItemEnhancementTest.cs
  Lib9c/Action/ItemEnhancement.cs
Labels: bug

#3071 feat(js): allow to use shared dependency
  integrations/javascript/@planetarium/lib9c/package.json
  integrations/javascript/@planetarium/pnpm-lock.yaml
Labels: JavaScript

#3073 Revert "Merge pull request #3071 from moreal/feat/js/peer-dependencies"
  integrations/javascript/@planetarium/lib9c/jsr.json
  integrations/javascript/@planetarium/lib9c/package.json
  integrations/javascript/@planetarium/pnpm-lock.yaml
Labels: bug, JavaScript

#3074 feat: bump libplanet-related dependencies
  integrations/javascript/@planetarium/lib9c/package.json
  integrations/javascript/@planetarium/pnpm-lock.yaml
Labels: JavaScript

#3075 feat(js): introduce `mint_assets` action
  integrations/javascript/@planetarium/lib9c/CONTRIBUTING.md
  integrations/javascript/@planetarium/lib9c/package.json
  integrations/javascript/@planetarium/lib9c/src/actions/mint_assets.ts
  integrations/javascript/@planetarium/lib9c/src/index.ts
  integrations/javascript/@planetarium/lib9c/src/models/currencies.ts
  integrations/javascript/@planetarium/lib9c/tests/actions/common.ts
  integrations/javascript/@planetarium/lib9c/tests/actions/mint_assets.test.ts
  integrations/javascript/@planetarium/lib9c/tests/models/currencies.test.ts
  integrations/javascript/@planetarium/pnpm-lock.yaml
Labels: bug, JavaScript

#3078 ci(gh-actions): correct jsr publish workflow
  .github/workflows/publish.yml
  integrations/javascript/@planetarium/9c-headless-provider/jsr.json
  integrations/javascript/@planetarium/package.json
Labels: bug, ci, JavaScript

#3079 chore: prepare lib9c.js 0.5.0
  integrations/javascript/@planetarium/lib9c/jsr.json
  integrations/javascript/@planetarium/lib9c/package.json
Labels: JavaScript

#3069 Refactor Synthesize
  .Lib9c.Tests/Action/SynthesizeTest.cs
  Lib9c/Action/Synthesize.cs
  Lib9c/Helper/SynthesizeSimulator.cs
Labels: bug

#3082 fix(js): use published `@planetarium/lib9c`
  integrations/javascript/@planetarium/.npmrc
  integrations/javascript/@planetarium/9c-headless-provider/package.json
  integrations/javascript/@planetarium/pnpm-lock.yaml
Labels: bug, JavaScript

#3083 fix(js): avoid confusion between jsr pkg and monorepo pkg
  integrations/javascript/@planetarium/9c-headless-provider/package.json
  integrations/javascript/@planetarium/9c-headless-provider/src/index.ts
  integrations/javascript/@planetarium/pnpm-lock.yaml
Labels: bug, JavaScript
